<div
  class="__cp__-text-align-left"
  data-test-id="__cp__-footer"
  fxLayout="row wrap"
  fxLayoutAlign="start stretch"
  fxLayoutGap="16px">

  <div
    data-test-id="__cp__-footer-registration"
    fxFlex="calc(25% - 16px)"
    fxFlex.lt-md="calc(50% - 16px)"
    fxFlex.lt-sm="calc(100% - 16px)">
    <div class="__cp__-font-weight-bold __cp__-padding-top-16px">Sind Sie noch nicht registriert?</div>
    <p>Ihr zuständiger regionaler Kundenbetreuer hilft Ihnen gerne weiter</p>
    <p>&copy; 2020 Xyz AG</p>
  </div>

  <div
    data-test-id="__cp__-footer-support"
    fxFlex="calc(25% - 16px)"
    fxFlex.lt-md="calc(50% - 16px)"
    fxFlex.lt-sm="calc(100% - 16px)">
    <div class="__cp__-font-weight-bold __cp__-padding-top-16px">Technische Unterstützung</div>
    <p>Unser Support steht Ihnen bei technischen Fragen zur Web-App gern zur Verfügung</p>
    <p>Mo.-Fr. 08:00 - 17:00 Uhr</p>
    <div>
      <a data-test-id="__cp__-footer-link-contact" href="mailto:click.ride@deutschebahn.com">support@xyz.com</a>
    </div>
  </div>

  <div
    fxFlex="calc(25% - 16px)"
    fxFlex.lt-md="calc(50% - 16px)"
    fxFlex.lt-sm="calc(100% - 16px)"
    fxLayout="column">
    <a class="__cp__-font-weight-bold __cp__-padding-top-16px" data-test-id="__cp__-footer-link-impressum" href="#"
       routerLink="/recht/impressum">Impressum</a>
    <a class="__cp__-font-weight-bold" data-test-id="__cp__-footer-link-conditions" href="#"
       routerLink="/recht/nutzungsbedingungen">Nutzungsbedingungen</a>
    <a class="__cp__-font-weight-bold" data-test-id="__cp__-footer-link-data-protection" href="#"
       routerLink="/recht/datenschutz">Datenschutzerklärung</a>
    <br>
    Wartung/Releasefenster: mittwochs 12:00&nbsp;Uhr bis 13:00&nbsp;Uhr
  </div>

  <div
    fxFlex="calc(25% - 16px)"
    fxFlex.lt-md="calc(50%)"
    fxFlex.lt-sm="calc(100% - 16px)">
    <div class="__cp__-font-weight-bold __cp__-padding-top-16px">
      Lorem ipsum
    </div>
    <p>dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
      invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
  </div>
</div>


