<div
  class="__cp__-welcome-outer-div"
  [ngClass]="{'display-none': (isSmall$ | async)}"
  ngClass.lt-sm="display-none">
  <div *ngIf="bgImageVisible" class="__cp__-welcome-div"></div>
</div>

<div
  class="__cp__-padding"
  [ngClass]="{'overlay-div': textAsOverlay && !(isSmall$ | async)}">

  <h1>AppXyz</h1>

  <br>
  <p class="__cp__-max-width-300-px">
    Make sure that the main message of your website is shown on your homepage IMMEDIATELY,
    WITHOUT having to scroll down further
  </p>

  <br>

  <button color="primary" mat-flat-button routerLink="/demo">
    Start <i class="material-icons">arrow_forward_ios</i>
  </button>
</div>



<div class="__cp__-padding __cp__-text-align-left"
     fxLayout="row wrap"
     fxLayoutAlign="start stretch"
     fxLayoutGap="1rem" fxLayoutGap.lt-md="0">

  <div fxFlex.lt-sm="100%" fxFlex.lt-md="calc(50% - 1rem)" fxFlex="calc(25% - 1rem)">
    <h3>Docs</h3>

    <h4>Angular</h4>
    <p><a href="https://angular.io/guide/styleguide" target="_blank">Angular coding style guide (rules)</a></p>
    <p><a href="https://angular.io/docs" target="_blank">Angular Docs</a></p>
    <p><a href="https://medium.com/faun/44-quick-tips-to-fine-tune-angular-performance-9f5768f5d945" target="_blank">44 quick tips to fine-tune Angular performance</a></p>
    <p><a href="https://angular.io/guide/rx-library" target="_blank">Angular and the RxJS library</a></p>
    <p><a href="https://rxmarbles.com/" target="_blank">RxJS Marbles</a></p>
    <p><a href="https://www.youtube.com/user/ngconfvideos" target="_blank">ng-conf videos</a></p>

    <h4>Basics</h4>
    <p><a href="https://sass-lang.com/documentation/syntax" target="_blank">SCSS Syntax</a></p>
    <p><a href="https://blog.angular-university.io/angular-host-context/" target="_blank">Angular :host, :host-context</a></p>
    <p><a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Reference" target="_blank">CSS reference</a></p>
    <p><a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element" target="_blank">HTML reference</a></p>
  </div>

  <div fxFlex.lt-sm="100%" fxFlex.lt-md="calc(50% - 1rem)" fxFlex="calc(25% - 1rem)">
    <h3>Colors</h3>

    <h4>Material</h4>
    <p><a href="https://material.io/design/guidelines-overview" target="_blank">Material Design</a></p>
    <p><a href="https://material.angular.io/components/categories" target="_blank">Angular Material Components</a></p>
    <p><a href="https://material.io/resources/icons/?style=baseline" target="_blank">Material Icons</a></p>

    <h4>Material Theme Generator</h4>
    <p><a href="https://materialtheme.arcsine.dev/" target="_blank">MTG (Material Theme Generator)</a></p>
    <p><a href="https://material.angular.io/guide/theming" target="_blank">Theming your Angular Material app</a></p>


    <h4>Various</h4>
    <p><a href="https://design.google/news/" target="_blank">Google Design</a></p>
    <p><a href="https://www.svgbackgrounds.com/">svgbackgrounds.com</a></p>
  </div>


  <div fxFlex.lt-sm="100%" fxFlex.lt-md="calc(50% - 1rem)" fxFlex="calc(25% - 1rem)">
    <h3>Coporate</h3>

    <h4>Styleguides</h4>
    <p><a href="https://www.ci-portal.de/styleguides/" target="_blank">corporate identity portal</a></p>
    <p><a href="https://www.designtagebuch.de/wiki/corporate-design-manuals/" target="_blank">Corporate-Design-Manuals / Styleguides</a></p>

    <h4>Deutsche Bahn</h4>
    <p><a href="https://www.svgbackgrounds.com/" target="_blank">SVG backgrounds</a></p>
    <p><a href="https://marketingportal.extranet.deutschebahn.com/de/farbe#" target="_blank">Deutsche Bahn farben</a></p>
<!--    https://marketingportal.extranet.deutschebahn.com/schriften#-->
<!--    https://marketingportal.extranet.deutschebahn.com/webfonts#-->

    <h4>Deutsche Bank</h4>
    <p><a href="https://marketingportal.extranet.deutschebahn.com/sites/default/files/pdf/6c8d956121e24be4283d5009e2c35072.pdf" target="_blank">Deutsche Bahn Unternehmensfarben</a></p>
    <p><a href="https://brandportal.intranet.db.com/en/content/resources/online.php" target="_blank">Deutsche Bank Style Guide</a></p>
    <p><a href="https://brandportal.intranet.db.com/autobahn/content/branding-theme.php" target="_blank">DB autobahn Style Guide</a></p>
  </div>



  <div fxFlex.lt-sm="100%" fxFlex.lt-md="calc(50% - 1rem)" fxFlex="calc(25% - 1rem)">
    <h3>Third Party</h3>
    <p>
      <a href="https://www.npmjs.com/package/@ng-select/ng-select">@ng-select/ng-select</a>
      (<a href="https://ng-select.github.io/ng-select#/data-sources">Demo</a>)
    </p>
    <p><a href="https://www.npmjs.com/package/ngx-material-timepicker">Angular Material Timepicker</a></p>
    <p><a href="https://www.ag-grid.com/angular-grid/">AG Grid</a></p>
  </div>

</div>


<div class="__cp__-text-hidden __cp__-font-monospace">
  production: {{ environment.production }}<br>
  envName: '{{ environment.env }}'<br>
  version: '{{ environment.version }}'<br>
  commit: '{{ environment.commitHash }}'<br>
</div>
