<div class="__cp__-padding">

  <h3>Basic Buttons</h3>
  <pre>&lt;button color="primary" mat-button>Primary&lt;/button></pre>
  <div class="example-button-row">
    <button mat-button>Basic</button>
    <button color="primary" mat-button>Primary</button>
    <button color="accent" mat-button>Accent</button>
    <button color="warn" mat-button>Warn</button>
    <button disabled mat-button>Disabled</button>
    <a mat-button routerLink=".">Link</a>
  </div>

  <h3>Raised Buttons</h3>
  <pre>&lt;button color="primary" mat-raised-button>Primary&lt;/button></pre>
  <div class="example-button-row">
    <button mat-raised-button>Basic</button>
    <button color="primary" mat-raised-button>Primary</button>
    <button color="accent" mat-raised-button>Accent</button>
    <button color="warn" mat-raised-button>Warn</button>
    <button disabled mat-raised-button>Disabled</button>
    <a mat-raised-button routerLink=".">Link</a>
  </div>

  <h3>Stroked Buttons</h3>
  <pre>&lt;button color="primary" mat-stroked-button>Primary&lt;/button></pre>
  <div class="example-button-row">
    <button mat-stroked-button>Basic</button>
    <button color="primary" mat-stroked-button>Primary</button>
    <button color="accent" mat-stroked-button>Accent</button>
    <button color="warn" mat-stroked-button>Warn</button>
    <button disabled mat-stroked-button>Disabled</button>
    <a mat-stroked-button routerLink=".">Link</a>
  </div>

  <h3>Flat Buttons</h3>
  <div class="example-button-row">
    <pre>&lt;button color="primary" mat-flat-button>Primary&lt;/button></pre>
    <button mat-flat-button>Basic</button>
    <button color="primary" mat-flat-button>Primary</button>
    <button color="accent" mat-flat-button>Accent</button>
    <button color="warn" mat-flat-button>Warn</button>
    <button disabled mat-flat-button>Disabled</button>
    <a mat-flat-button routerLink=".">Link</a>
  </div>

  <h3>Icon Buttons</h3>
  <pre>&lt;button color="primary" mat-icon-button> &lt;mat-icon>favorite&lt;/mat-icon> &lt;/button></pre>
  <div class="example-button-row">
    <button aria-label="Example icon-button with a heart icon" mat-icon-button>
      <mat-icon>favorite</mat-icon>
    </button>
    <button aria-label="Example icon-button with a heart icon" color="primary" mat-icon-button>
      <mat-icon>favorite</mat-icon>
    </button>
    <button aria-label="Example icon-button with a heart icon" color="accent" mat-icon-button>
      <mat-icon>favorite</mat-icon>
    </button>
    <button aria-label="Example icon-button with a heart icon" color="warn" mat-icon-button>
      <mat-icon>favorite</mat-icon>
    </button>
    <button aria-label="Example icon-button with a heart icon" disabled mat-icon-button>
      <mat-icon>favorite</mat-icon>
    </button>
  </div>

  <h3>Fab Buttons</h3>
  <pre>&lt;button color="primary" mat-fab>Primary&lt;/button></pre>
  <div class="example-button-row">
    <button mat-fab>Basic</button>
    <button color="primary" mat-fab>Primary</button>
    <button color="accent" mat-fab>Accent</button>
    <button color="warn" mat-fab>Warn</button>
    <button disabled mat-fab>Disabled</button>
    <button aria-label="Example icon-button with a heart icon" mat-fab>
      <mat-icon>favorite</mat-icon>
    </button>
    <a mat-fab routerLink=".">Link</a>
  </div>

  <h3>Mini Fab Buttons</h3>
  <pre>&lt;button color="primary" mat-mini-fab>Primary&lt;/button></pre>
  <div class="example-button-row">
    <button mat-mini-fab>Basic</button>
    <button color="primary" mat-mini-fab>Primary</button>
    <button color="accent" mat-mini-fab>Accent</button>
    <button color="warn" mat-mini-fab>Warn</button>
    <button disabled mat-mini-fab>Disabled</button>
    <button aria-label="Example icon-button with a heart icon" mat-mini-fab>
      <mat-icon>favorite</mat-icon>
    </button>
    <a mat-mini-fab routerLink=".">Link</a>
  </div>


</div>
