<div
  class="__cp__-padding"
  fxLayout="row wrap"
  fxLayoutAlign="start stretch"
  fxLayoutGap="1rem" fxLayoutGap.lt-md="0">

  <div fxFlex.lt-sm="100%" fxFlex.lt-md="calc(50% - 1rem)" fxFlex="calc(25% - 1rem)">
    <h3>Dies ist eine Seite der</h3>
    <p>Xyz AG<br>
      Musterstrasse 1<br>
      61348 Oorrtt<br>
      <br>
      <a class="arrowlink bold"
         href="https://www.__cp__-vertrieb.com/db_vertrieb/view/index.shtml"
         target="_blank">www.__cp__-vertrieb.com</a></p>
  </div>

  <div fxFlex.lt-sm="100%" fxFlex.lt-md="calc(50% - 1rem)" fxFlex="calc(25% - 1rem)">
    <h3>Kontakt</h3>
    <p>
      Telefon:<br>
      <b>0180 11 22 33 44</b> (20 ct/Anruf aus dem Festnetz, Tarif bei Mobilfunk max. 60 ct/Anruf)
    </p>
    <p>
      E-Mail:<br>
      <a class="arrowlink bold" href="mailto:info@xyz.de?Subject=Impressum">info@xyz.de</a>
    </p>
    <p>
      Plattform der EU-Kommission zur Online-Streitbeilegung:<br>
      <a class="arrowlink bold" href="https://www.ec.europa.eu/consumers/odr" target="_blank">www.ec.europa.eu/consumers/odr</a>
    </p>
    <p>
      Schlichtungsstellen:<br>
      Zur Übersicht der
      <a class="arrowlink bold" href="https://www.xyz.de">Schlichtungsstellen</a>
    </p>
  </div>


  <div fxFlex.lt-sm="100%" fxFlex.lt-md="calc(50% - 1rem)" fxFlex="calc(25% - 1rem)">
    <h3>Handelsregister</h3>
    <p>Handelsregister B des Amtsgerichts Frankfurt am Main HRB 12345<br>
      Ust-IdNr.: DE 123456789
    </p>
    <p>
      Die Xyz AG wird vertreten durch den Vorsitzenden der Geschäftsführung Herrn/Frau Xxxyyy.<br>
      <br>
      Ansprechpartner für alle Fragen, Wünsche, Anregungen, Beschwerden etc. finden Sie
      <a class="arrowlink bold" href="https://www.xyz.de">hier: (www.xyz.de)</a>.
    </p>
  </div>

  <div fxFlex.lt-sm="100%" fxFlex.lt-md="calc(50% - 1rem)" fxFlex="calc(25% - 1rem)"></div>

</div>
