<div class="__cp__-padding"
     fxLayout="row wrap"
     fxLayoutAlign="start stretch"
     fxLayoutGap="1rem" fxLayoutGap.lt-md="0">

  <div fxFlex.lt-sm="100%" fxFlex.lt-xl="calc(50% - 1rem)" fxFlex="calc(25% - 1rem)">
    <h3>Allgemeines</h3>
    <p>Betreiber dieser Webseite ist die Xyz AG, Musterstrasse 1, 61348 Oorrtt.</p>
    <p>Durch Nutzung dieser Webseite erklären Sie sich mit diesen Nutzungsbedingungen einverstanden. Diese
      Nutzungsbedingungen finden auch dann Anwendung, wenn Sie die Webseite oder Bereiche davon von
      anderen Webseiten aus nutzen. </p>
    <h3>Inhalte</h3>
    <p>Die Inhalte dieser Webseite werden mit größtmöglicher Sorgfalt erstellt. Die Xyz AG übernimmt
      jedoch keine Gewähr für die Richtigkeit, Vollständigkeit und Aktualität der bereitgestellten
      Inhalte. </p>

    <h3>Verfügbarkeit</h3>
    <p>Die Xyz AG wird sich bemühen, den Dienst möglichst unterbrechungsfrei zum Abruf anzubieten. Auch
      bei aller Sorgfalt können Ausfallzeiten nicht ausgeschlossen werden. Sie behält sich das Recht vor,
      ihr Angebot jederzeit zu
      ändern oder einzustellen. Für Unterbrechungen oder anderweitige Störungen übernimmt die Xyz AG
      keine Gewähr.</p>
  </div>

  <div fxFlex.lt-sm="100%" fxFlex.lt-xl="calc(50% - 1rem)" fxFlex="calc(25% - 1rem)">
    <h3>Zulässige Nutzung</h3>
    <p>Diese Webseite darf ausschließlich für die folgenden Zwecke genutzt werden: (1.) Anzeigen dieser
      Webseite, (2.) Prüfen von Informationen zu An- und Abfahrtszeiten, (3.) Vornahme rechtmäßiger
      Buchungen und Reservierungen und (4.)
      Nutzung weiterer Funktionen, die auf dieser Webseite verfügbar gemacht werden.<br>
      <br>
      Jede andere Nutzung dieser Webseite ohne vorherige schriftliche Zustimmung der Xyz AG ist
      untersagt.<br>
      <br>
      Die Vervielfältigung, Bearbeitung, Verbreitung, öffentliche Wiedergabe oder jede sonstige Form der
      Nutzung von Inhalten dieser Webseite zu gewerblichen Zwecken ist unzulässig. Ebenso untersagt ist
      die Verwendung automatisierter
      Systeme oder automatisierter Software zur Extraktion von Inhalten von dieser Webseite. Auch ist
      jeder Zugriff auf Inhalte der Webseite unzulässig, der nicht über die Benutzeroberfläche der
      Webseite erfolgt.<br>
      <br>
      Es sind sämtliche Maßnahmen zu unterlassen, die störend in die Funktion der Webseite eingreifen
      können. Dazu gehören auch solche, die eine übermäßige oder unzumutbare Belastung der
      Webseiten-Infrastruktur zur Folge haben
      können.<br>
      <br>
      Unbeschadet der Geltendmachung sonstiger Rechte behält sich die Xyz AG vor, den Zugang zu dieser
      Webseite jederzeit zu sperren, wenn gegen diese Nutzungsbedingungen verstoßen wird.</p>
  </div>

  <div fxFlex.lt-sm="100%" fxFlex.lt-xl="calc(50% - 1rem)" fxFlex="calc(25% - 1rem)">
    <h3>Geistiges Eigentum</h3>
    <p>Alle Urheber-, insbesondere Datenbank-, Marken-, Geschmacksmuster- und andere Rechte zum Schutze
      geistigen Eigentums (ebenso die Anordnung und die Darstellung der Webseite) liegen bei der
      Xyz AG oder ihren Lizenzgebern.
      Ohne die vorherige schriftliche Zustimmung dürfen Sie die Inhalte der Webseite oder der zugrunde
      liegende Software-Code weder ganz oder teilweise vervielfältigen, bearbeiten, verbreiten, öffentlich
      wiedergegeben noch in sonstiger
      Form nutzen. </p>
  </div>

  <div fxFlex.lt-sm="100%" fxFlex.lt-xl="calc(50% - 1rem)" fxFlex="calc(25% - 1rem)">
    <h3>Links zu anderen Webseiten</h3>
    <p>Diese Webseite kann Links auf Webseiten Dritter enthalten. Die Xyz AG hat bei der erstmaligen
      Verknüpfung zwar den fremden Inhalt daraufhin überprüft, ob durch ihn eine mögliche zivilrechtliche
      oder strafrechtliche
      Verantwortlichkeit ausgelöst wird. Sie überprüft aber die Inhalte nicht ständig auf Veränderungen.
      Die Xyz AG übernimmt für die Inhalte der fremden Webseiten daher weder eine Verantwortung noch
      macht die Xyz AG
      sich diese Webseiten und ihre Inhalte zu eigen. Wenn sie feststellt oder von anderen darauf
      hingewiesen wird, dass der konkrete Inhalt, zu dem sie einen Link bereitgestellt hat, eine zivil-
      oder strafrechtliche Verantwortlichkeit
      auslöst, wird sie den Link löschen.</p>
  </div>
</div>
