<div class="settings-component-div">
  <div class="content-div">
    <div class="icon">
      <i class="material-icons __cp__-discreet-color">
        settings
      </i>
    </div>

    <br>
    <br>

    <div *ngIf="data" class="formfield-container">
      <mat-form-field>
        <mat-select [(value)]="data.theme" placeholder="Design-Thema">
          <mat-option [value]="'light'">hell</mat-option>
          <mat-option [value]="'dark'">dunkel</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select [(value)]="data.menuHidden" placeholder="Menü ausblenden">
          <mat-option [value]="false">Nein</mat-option>
          <mat-option [value]="true"> Ja</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select [(value)]="data.routerAnimation" placeholder="Animation bei Seitenwechsel">
          <mat-option [value]="false">Nein</mat-option>
          <mat-option [value]="true"> Ja</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select [(value)]="data.detailDialogOnDoubleClick" placeholder="Doppelklick auf Tabellezeile">
          <mat-option [value]="false">zur nächsten Seite navigieren</mat-option>
          <mat-option [value]="true">Detaildialog anzeigen</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="button-row">
      <button (click)="onOkClicked()"
              class="display-inline-block"
              color="primary"
              mat-flat-button>Speichern
      </button>

      <button (click)="onCancelClicked()"
              class="display-inline-block"
              mat-flat-button>Abbrechen
      </button>
    </div>


  </div>

</div>
