<div class="__cp__-padding" fxLayout="row wrap">

  <div fxFlex="calc(12.5% - 1rem)" fxFlex.lt-xl="calc(25% - 1rem)" fxFlex.lt-lg="calc(50% - 1rem)" fxFlex.lt-md="calc(100% - 1rem)">
    <a href="#" mat-raised-button routerLink="/demo/fonts">Schriftarten-Demo</a>
    <a href="#" mat-raised-button routerLink="/demo/buttons">Buttons</a>
    <a href="#" mat-raised-button routerLink="/demo/forms">Eingabefelder</a>
    <a href="#" mat-raised-button routerLink="/demo/mix">Hilfs-CSS-Klassen</a>
    <br>
  </div>

  <div fxFlex="calc(12.5% - 1rem)" fxFlex.lt-xl="calc(25% - 1rem)" fxFlex.lt-lg="calc(50% - 1rem)" fxFlex.lt-md="calc(100% - 1rem)">
    <a href="https://material.io/resources/icons/?style=baseline" mat-raised-button>Material Icons...</a>
    <a mat-raised-button href="https://material.angular.io/components/">Angular Components...</a>
    <a mat-raised-button href="https://github.com/angular/flex-layout/wiki">Angular Layout...</a>
    <a mat-raised-button href="https://github.com/angular/flex-layout/wiki/Responsive-API">Angular Responsive API...</a>
    <a mat-raised-button href="https://material.io/design/introduction#goals">Material Design...</a>
  </div>

  <div fxFlex="calc(12.5% - 1rem)" fxFlex.lt-xl="calc(25% - 1rem)" fxFlex.lt-lg="calc(50% - 1rem)" fxFlex.lt-md="calc(100% - 1rem)"></div>
  <div fxFlex="calc(12.5% - 1rem)" fxFlex.lt-xl="calc(25% - 1rem)" fxFlex.lt-lg="calc(50% - 1rem)" fxFlex.lt-md="calc(100% - 1rem)"></div>


  <div fxFlex="calc(12.5% - 1rem)" fxFlex.lt-xl="calc(25% - 1rem)" fxFlex.lt-lg="calc(50% - 1rem)" fxFlex.lt-md="calc(100% - 1rem)"></div>
  <div fxFlex="calc(12.5% - 1rem)" fxFlex.lt-xl="calc(25% - 1rem)" fxFlex.lt-lg="calc(50% - 1rem)" fxFlex.lt-md="calc(100% - 1rem)"></div>
  <div fxFlex="calc(12.5% - 1rem)" fxFlex.lt-xl="calc(25% - 1rem)" fxFlex.lt-lg="calc(50% - 1rem)" fxFlex.lt-md="calc(100% - 1rem)"></div>
  <div fxFlex="calc(12.5% - 1rem)" fxFlex.lt-xl="calc(25% - 1rem)" fxFlex.lt-lg="calc(50% - 1rem)" fxFlex.lt-md="calc(100% - 1rem)"></div>


</div>
