<div class="__cp__-padding" fxLayout="row wrap">
  <div
    fxFlex="calc(12.5% - 1rem)"
    fxFlex.lt-lg="calc(50% - 1rem)"
    fxFlex.lt-md="calc(100% - 1rem)"
    fxFlex.lt-xl="calc(25% - 1rem)">
    <a href="#" mat-raised-button routerLink="/demo/fonts">Fonts Demo</a>
    <a href="#" mat-raised-button routerLink="/demo/buttons">Buttons</a>
    <a href="#" mat-raised-button routerLink="/demo/forms">Form fields</a>
    <a href="#" mat-raised-button routerLink="/demo/mix">Helper CSS classes</a>
    <a href="#" mat-raised-button routerLink="/demo/colordeutschebahn">Deutsche Bahn Colors</a>
    <a href="#" mat-raised-button routerLink="/demo/colordeutschebank">Deutsche Bank Colors</a>
    <br/>
  </div>

  <div
    fxFlex="calc(12.5% - 1rem)"
    fxFlex.lt-lg="calc(50% - 1rem)"
    fxFlex.lt-md="calc(100% - 1rem)"
    fxFlex.lt-xl="calc(25% - 1rem)">
    <a
      href="https://material.io/resources/icons/?style=baseline"
      mat-stroked-button>Material Icons...</a>
    <a href="https://material.angular.io/components/" mat-stroked-button>Angular Components...</a>
    <a href="https://github.com/angular/flex-layout/wiki" mat-stroked-button>Angular Layout...</a>
    <a
      href="https://github.com/angular/flex-layout/wiki/Responsive-API"
      mat-stroked-button>Angular Responsive API...</a>
    <a href="https://material.io/design/introduction#goals" mat-stroked-button>Material Design...</a>
  </div>

  <div
    fxFlex="calc(12.5% - 1rem)"
    fxFlex.lt-lg="calc(50% - 1rem)"
    fxFlex.lt-md="calc(100% - 1rem)"
    fxFlex.lt-xl="calc(25% - 1rem)"></div>
  <div
    fxFlex="calc(12.5% - 1rem)"
    fxFlex.lt-lg="calc(50% - 1rem)"
    fxFlex.lt-md="calc(100% - 1rem)"
    fxFlex.lt-xl="calc(25% - 1rem)"></div>

  <div
    fxFlex="calc(12.5% - 1rem)"
    fxFlex.lt-lg="calc(50% - 1rem)"
    fxFlex.lt-md="calc(100% - 1rem)"
    fxFlex.lt-xl="calc(25% - 1rem)"></div>
  <div
    fxFlex="calc(12.5% - 1rem)"
    fxFlex.lt-lg="calc(50% - 1rem)"
    fxFlex.lt-md="calc(100% - 1rem)"
    fxFlex.lt-xl="calc(25% - 1rem)"></div>
  <div
    fxFlex="calc(12.5% - 1rem)"
    fxFlex.lt-lg="calc(50% - 1rem)"
    fxFlex.lt-md="calc(100% - 1rem)"
    fxFlex.lt-xl="calc(25% - 1rem)"></div>
  <div
    fxFlex="calc(12.5% - 1rem)"
    fxFlex.lt-lg="calc(50% - 1rem)"
    fxFlex.lt-md="calc(100% - 1rem)"
    fxFlex.lt-xl="calc(25% - 1rem)"></div>
</div>
