<div class="__cp__-padding">


  <h3>Class .__cp__-display-none-*</h3>
  <div class="mat-hint">See: __cp__-responsive.scss</div>
  <table>
    <tr>
      <td></td>
      <td>xs</td>
      <td>sm</td>
      <td>md</td>
      <td>lg</td>
      <td>xl</td>
    </tr>
    <tr>
      <td>=</td>
      <td><button color="primary" mat-stroked-button class="__cp__-display-none-xs">xs</button></td>
      <td><button color="primary" mat-stroked-button class="__cp__-display-none-sm">sm</button></td>
      <td><button color="primary" mat-stroked-button class="__cp__-display-none-md">md</button></td>
      <td><button color="primary" mat-stroked-button class="__cp__-display-none-lg">lg</button></td>
      <td><button color="primary" mat-stroked-button class="__cp__-display-none-xl">xl</button></td>
    </tr>
    <tr>
      <td>gt</td>
      <td><button color="accent" mat-flat-button class="__cp__-display-none-gt-xs">gt-xs</button></td>
      <td><button color="accent" mat-flat-button class="__cp__-display-none-gt-sm">gt-sm</button></td>
      <td><button color="accent" mat-flat-button class="__cp__-display-none-gt-md">gt-md</button></td>
      <td><button color="accent" mat-flat-button class="__cp__-display-none-gt-lg">gt-lg</button></td>
      <td>NA</td>
    </tr>
    <tr>
      <td>lt</td>
      <td>NA</td>
      <td><button color="warn" mat-flat-button class="__cp__-display-none-lt-sm">lt-sm</button></td>
      <td><button color="warn" mat-flat-button class="__cp__-display-none-lt-md">lt-md</button></td>
      <td><button color="warn" mat-flat-button class="__cp__-display-none-lt-lg">lt-lg</button></td>
      <td><button color="warn" mat-flat-button class="__cp__-display-none-lt-xl">lt-xl</button></td>
    </tr>
  </table>


  <br>
  <br>
  <br>
  <br>


  <h3>Class .__cp__-display-block-*</h3>
  <table class="button-display-none">
    <tr>
      <td></td>
      <td>xs</td>
      <td>sm</td>
      <td>md</td>
      <td>lg</td>
      <td>xl</td>
    </tr>
    <tr>
      <td>=</td>
      <td><button color="primary" mat-stroked-button class="__cp__-display-block-xs">xs</button></td>
      <td><button color="primary" mat-stroked-button class="__cp__-display-block-sm">sm</button></td>
      <td><button color="primary" mat-stroked-button class="__cp__-display-block-md">md</button></td>
      <td><button color="primary" mat-stroked-button class="__cp__-display-block-lg">lg</button></td>
      <td><button color="primary" mat-stroked-button class="__cp__-display-block-xl">xl</button></td>
    </tr>
    <tr>
      <td>gt</td>
      <td><button color="accent" mat-flat-button class="__cp__-display-block-gt-xs">gt-xs</button></td>
      <td><button color="accent" mat-flat-button class="__cp__-display-block-gt-sm">gt-sm</button></td>
      <td><button color="accent" mat-flat-button class="__cp__-display-block-gt-md">gt-md</button></td>
      <td><button color="accent" mat-flat-button class="__cp__-display-block-gt-lg">gt-lg</button></td>
      <td>NA</td>
    </tr>
    <tr>
      <td>lt</td>
      <td>NA</td>
      <td><button color="warn" mat-flat-button class="__cp__-display-block-lt-sm">lt-sm</button></td>
      <td><button color="warn" mat-flat-button class="__cp__-display-block-lt-md">lt-md</button></td>
      <td><button color="warn" mat-flat-button class="__cp__-display-block-lt-lg">lt-lg</button></td>
      <td><button color="warn" mat-flat-button class="__cp__-display-block-lt-xl">lt-xl</button></td>
    </tr>
  </table>

  <br>
  <br>
  <br>
  <h3>Some (app global) util css classes</h3>
  <div class="mat-hint">See: __cp__-help.scss</div>

  <pre>
  .__cp__-border-top
  .__cp__-border-bottom
  .__cp__-border-right
  .__cp__-border-left

  .__cp__-full-width
  .__cp__-full-height-and-width

  .__cp__-font-monospace
  .__cp__-font-weight-bold

  .__cp__-text-align-center
  .__cp__-text-align-right
  .__cp__-text-align-left
  .__cp__-vertical-align-top
  .__cp__-vertical-align-middle
  .__cp__-vertical-align-bottom
  .__cp__-text-align-left
  .__cp__-text-align-right
  .__cp__-text-align-center

  .__cp__-position-fixed
  .__cp__-float-right
  .__cp__-float-left
  .__cp__-clear-both

  .__cp__-text-hidden
  .__cp__-display-none

  .__cp__-flex-fill-space
  .__cp__-flex-direction-row
  .__cp__-flex-direction-column
  .__cp__-display-inline-flex
  </pre>

  <pre>
  .__cp__-margin

  .__cp__-margin-top
  .__cp__-margin-top-0px
  .__cp__-margin-top-16px
  .__cp__-margin-top-32px
  .__cp__-margin-top-48px

  .__cp__-margin-right
  .__cp__-margin-right-0px
  .__cp__-margin-right-16px
  .__cp__-margin-right-32px
  .__cp__-margin-right-48px

  .__cp__-margin-bottom
  .__cp__-margin-bottom-0px
  .__cp__-margin-bottom-16px
  .__cp__-margin-bottom-32px
  .__cp__-margin-bottom-48px

  .__cp__-margin-left
  .__cp__-margin-left-0px
  .__cp__-margin-left-16px
  .__cp__-margin-left-32px
  .__cp__-margin-left-48px

  .__cp__-padding

  .__cp__-padding-top
  .__cp__-padding-top-0px
  .__cp__-padding-top-16px
  .__cp__-padding-top-32px
  .__cp__-padding-top-48px

  .__cp__-padding-right
  .__cp__-padding-right-0px
  .__cp__-padding-right-16px
  .__cp__-padding-right-32px
  .__cp__-padding-right-48px

  .__cp__-padding-bottom
  .__cp__-padding-bottom-0px
  .__cp__-padding-bottom-16px
  .__cp__-padding-bottom-32px
  .__cp__-padding-bottom-48px

  .__cp__-padding-left
  .__cp__-padding-left-0px
  .__cp__-padding-left-16px
  .__cp__-padding-left-32px
  .__cp__-padding-left-48px
  </pre>

  <pre>
  .__cp__-width-20-per
  .__cp__-width-25-per
  .__cp__-width-33-per
  .__cp__-width-50-per

  .__cp__-max-width-300-px
  .__cp__-max-width-600-px
  .__cp__-max-width-960-px
  .__cp__-max-width-1280-px
  .__cp__-max-width-1920-px
  </pre>

</div>

