
button {
  width: 100%;
}

td {
  text-align: center;
  vertical-align: middle;
}

table tr td:first-child,
table tr:first-child {
  font-weight: bold;
  padding: 4px;
  height: 2em;
}

table tr td:first-child {border-right: solid 1px #666;width: 3em;}
table tr:first-child td {border-bottom: solid 1px #666;}

.button-display-none button {display: none;}
