<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false"
               class="sidenav"
               fixedInViewport>
    <mat-toolbar>
      <app-__cp__-logo></app-__cp__-logo>
      AppXyz
    </mat-toolbar>

    <mat-nav-list [ngClass]="{menuIconsVisible:menuIconsVisible}">
      <a [routerLink]="cfg.welcomeRoute" href="#" mat-list-item>
        <mat-icon>accessibility_new</mat-icon>
        Willkommen
      </a>

      <a href="#" mat-list-item routerLink="/demo">
        <mat-icon>filter_vintage</mat-icon>
        Demo
      </a>

      <!-- add new main menu items here -->

      <mat-divider></mat-divider>

      <a href="#" mat-list-item routerLink="/recht/impressum">
        <mat-icon>import_contacts</mat-icon>
        Impressum
      </a>

      <a mat-list-item href="#"
         routerLink="/recht/nutzungsbedingungen"
         [ngClass]="{hidden:menuIconsVisible}">
        Nutzungsbedingungen
      </a>

      <a href="#" mat-list-item
         routerLink="/recht/nutzungsbedingungen"
         [ngClass]="{hidden:!menuIconsVisible}">
        <mat-icon>gavel</mat-icon>
        Nutzungsbedg.
      </a>

      <a href="#" mat-list-item routerLink="/recht/datenschutz">
        <mat-icon>sentiment_satisfied_alt</mat-icon>
        Datenschutz
      </a>

      <mat-divider></mat-divider>

      <a [routerLink]="cfg.loginRoute" href="#" mat-list-item *ngIf="!loggedIn">
        <mat-icon>face</mat-icon>
        Anmelden
      </a>

      <a [routerLink]="cfg.logoutRoute" href="#" mat-list-item *ngIf="loggedIn" class="__cp__-margin-top-32px">
        <mat-icon>directions_walk</mat-icon>
        Abmelden
      </a>


      <div class="mat-list-item">
        <div class="mat-list-item-content person">
          <p [innerText]="data?.nameVorname"></p>
          <p [innerHTML]="data?.email | __cp__ReplaceText:'@':'<br>@'"></p>
        </div>
      </div>

      <!-- bottom: -->
      <div class="fixed-at-bottom-left">
        <div *ngIf="logoutCounterVisible">
          <small>Sitzungszeitlimit:
            <app-__cp__-countdown
              (timeout)="onSessionTimeout()"
              [diffTimeInMillis]="15*60*1000"
              [startTimeInMillis]="lastClickInMillis"></app-__cp__-countdown>
          </small>
        </div>
        <div>
          <small>Version: {{version}}</small>
        </div>
        <div *ngIf="commitHash">
          <small>Commit: {{commitHash}}</small>
        </div>
        <div>
          <small>&copy; 2020 Deutsche Xyz AG</small>
        </div>
      </div>
    </mat-nav-list>
  </mat-sidenav>


  <mat-sidenav-content #matSidenavContent>
    <mat-toolbar color="primary">
      <button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
        aria-label="Toggle sidenav"
        mat-icon-button
        type="button">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span
        data-test-id="main-header-title-span"
        class="main-header-title-span"
        [ngClass]="{'fade-in': fadein}">
        {{title}}
      </span>

      <span class="__cp__-flex-fill-space"></span>

      <app-__cp__-logo *ngIf="(isHandset$ | async)" class="__cp__-float-right"></app-__cp__-logo>
    </mat-toolbar>

    <div class="__cp__-content">
      <ng-content></ng-content>
    </div>

    <app-__cp__-footer></app-__cp__-footer>

    <app-__cp__-version-indicator></app-__cp__-version-indicator>

  </mat-sidenav-content>
</mat-sidenav-container>
