
h4 {
  margin: 10px 0;
}

.inputs-div {
  margin: 20px 0 40px 0;
}

div.buttons-vertical-div button {
  margin-top: 10px;
}

div.buttons-horizontal-div {
  padding-top: 16px;

  button {
    margin-left: 20px;
  }
}


::ng-deep .mat-form-field-flex {
  width: 100%;
}

::ng-deep .mat-form-field-infix {
  width: 100%;
}

