/*  D e u t s c b e    B a h n   F a r b e n    */

/* Primärfarben */

$db-red: #F01414;  // DB 01
$db-blue: #0A1E6E; // DB 02
$db-gray: #878C96; // DB 03
$db-white: #fff;   // DB 04

/* Abstufungen */
$db-01-01: #FF5A64;
$db-01-02: #FA373C;
$db-01-03: #F01414;
$db-01-04: #CC0000;
$db-01-05: #B20000;
$db-01-06: #9A0000;
$db-01-07: #660000;

$db-02-01: #375FC3;
$db-02-02: #23419B;
$db-02-03: #0A1E6E;
$db-02-04: #000A5A;
$db-02-05: #000046;
$db-02-06: #000032;
$db-02-07: #00001E;

$db-03-01: #F0F3F5;
$db-03-02: #EAEEF1;
$db-03-03: #E1E6EB;
$db-03-04: #D7DCE1;
$db-03-05: #C8CDD2;
$db-03-06: #AFB4BB;
$db-03-07: #9BA0AA;
$db-03-08: #878C96;
$db-03-09: #787D87;
$db-03-10: #646973;
$db-03-11: #50555F;
$db-03-12: #3C414B;
$db-03-13: #282D37;
$db-03-14: #141923;


/* Sekundärfarben */
/* DB 04 */
$db-04-01: #ffdc3c;
$db-04-02: #FFCD00;
$db-04-03: #FFAF00;
$db-04-04: #FF8C00;
$db-04-05: #FA6900;
$db-04-06: #F05000;

/* DB 05 */
$db-05-01: #F56EAA;
$db-05-02: #F046A5;
$db-05-03: #C33296;
$db-05-04: #911E87;
$db-05-05: #5F1478;
$db-05-06: #3C0064;

/* DB 06 */
$db-06-01: #AAF046;
$db-06-02: #78BE14;
$db-06-03: #3CA532;
$db-06-04: #007841;
$db-06-05: #005523;
$db-06-06: #003c19;

/* DB 07 */
$db-07-01: #28D7FF;
$db-07-02: #00AADC;
$db-07-03: #0087B9;
$db-07-04: #00648C;
$db-07-05: #004B64;
$db-07-06: #003246;

/* DB 08 */
$db-08-01: #E6CDA5;
$db-08-02: #D7AF87;
$db-08-03: #C38250;
$db-08-04: #AF5A00;
$db-08-05: #8C3200;
$db-08-06: #730F00;

/* DB 09 */
$db-09-01: #C3A0B9;
$db-09-02: #A07391;
$db-09-03: #825073;
$db-09-04: #6E375F;
$db-09-05: #552346;
$db-09-06: #370A28;

/* DB 10 */
$db-10-01: #D7D20A;
$db-10-02: #B4B400;
$db-10-03: #879600;
$db-10-04: #5A6E00;
$db-10-05: #324600;
$db-10-06: #1E2D00;

/* DB 11 */
$db-11-01: #7DC8C8;
$db-11-02: #5FB4B4;
$db-11-03: #239696;
$db-11-04: #006E73;
$db-11-05: #00555A;
$db-11-06: #003C41;

/* Color palettes */
$mat-db-prime: (
  50 : #fde3e3,
  100 : #fbb9b9,
  200 : #f88a8a,
  300 : #f55b5b,
  400 : #f23737,
  500 : #f01414,
  600 : #ee1212,
  700 : #ec0e0e,
  800 : #e90b0b,
  900 : #e50606,
  A100 : #ffffff,
  A200 : #ffdada,
  A400 : #ffa7a7,
  A700 : #ff8d8d,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-db-second: (
  50 : #ecedee,
  100 : #d1d2d5,
  200 : #b2b4b9,
  300 : #93969d,
  400 : #7b8088,
  500 : #646973,
  600 : #5c616b,
  700 : #525660,
  800 : #484c56,
  900 : #363b43,
  A100 : #9cbcfc,
  A200 : #6b9bfa,
  A400 : #3377ff,
  A700 : #1a66ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$mat-db-blue: (
  50 : #e2e4ee,
  100 : #b6bcd4,
  200 : #858fb7,
  300 : #54629a,
  400 : #2f4084,
  500 : #0a1e6e,
  600 : #091a66,
  700 : #07165b,
  800 : #051251,
  900 : #030a3f,
  A100 : #747dff,
  A200 : #414eff,
  A400 : #0e1eff,
  A700 : #0010f4,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);
