/*  D e u t s c b e    B a h n   F a r b e n    */

@import "__cp__-colors-deutsche-bank-vars";

/* Primärfarben */
.db-color-dark-blue {color: $db-dark-blue;} .db-bg-dark-blue {background-color: $db-dark-blue;}
.db-color-deutsche-blue {color: $db-deutsche-blue;} .db-bg-deutsche-blue {background-color: $db-deutsche-blue;}
.db-color-bright-blue {color: $db-bright-blue;} .db-bg-bright-blue {background-color: $db-bright-blue;}
.db-color-light-blue {color: $db-light-blue;} .db-bg-light-blue {background-color: $db-light-blue;}


/* Sekundärfarben */

.db-color-black {color: $db-black;} .db-bg-black {background-color: $db-black;}
.db-color-dark-grey {color: $db-dark-grey;} .db-bg-dark-grey {background-color: $db-dark-grey;}
.db-color-light-grey {color: $db-light-grey;} .db-bg-light-grey {background-color: $db-light-grey;}
.db-color-white {color: $db-white;} .db-bg-white {background-color: $db-white;}

.db-color-pink {color: $db-pink;} .db-bg-pink {background-color: $db-pink;}
.db-color-red {color: $db-red;} .db-bg-red {background-color: $db-red;}
.db-color-amber {color: $db-amber;} .db-bg-amber {background-color: $db-amber;}
.db-color-green {color: $db-green;} .db-bg-green {background-color: $db-green;}
.db-color-purple {color: $db-purple;} .db-bg-purple {background-color: $db-purple;}

