.mat-form-field-appearance-fill {
  .mat-form-field-flex {
    background-color: #fff;
  }
}

.mat-drawer {
  background: #fefefe;
}

.mat-drawer-content {
  background: #fff;
}

mat-sidenav-content .mat-toolbar {
  background: #fff;
}
mat-toolbar.mat-primary.mat-toolbar-single-row {
  background: #fff;
  color: #000;
}
.mat-card {
  background: #fff;
}


a {
  color: #0087b9;
}

.__cp__-content {
  background: #e1e6eb;
}

.__cp__-footer-bg {
  background: #fff;
}

.__cp__-blue-bg-gradient {
  background: #3d6592;
  background: linear-gradient(90deg, #8ab3d6 0%, #3d6592 100%);
}

.mat-table {
  background: transparent;
}

.mat-tooltip {
  background: #0A1E6E;
  color: #F0F3F5;
}

mat-card.__cp__-mat-card-fancy-input-semi-bg {
  background: #f3f5f8;
}

.__cp__-color-error {
  color: $__cp__-color-red;
}
.__cp__-color-success {
  color: #408335;
}
